.hamburger-menu {
  position: relative;
  display: inline-block;
}

.hamburger {
  width: 30px;
  height: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}

.line {
  width: 100%;
  height: 3px;
  background-color: rgb(242, 237, 237);
}

.open .line {
  background-color: white;
}

.menu-list {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: rgb(8, 8, 8);
  padding: 10px;
  list-style: none;
}

.open .menu-list {
  display: block;
}
